@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-green: #273927;
  --brand-brown: #64533c;
  --brand-beige: #e5dfcf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-green: var(--brand-green);
  --color-brand-brown: var(--brand-brown);
  --color-brand-beige: var(--brand-beige);
  --font-sans: var(--font-exo2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-exo2), Arial, Helvetica, sans-serif;
}
